/*
selector {	
	Property: value; 
	Property: value;
}
*/
body {
	font-family: Georgia;
	color: #FFFFFF;
	background-color: #7B9CB2;
}

#nav {
 	line-height: 30px;
 	background-color: #7B9CB2;
 	height:800px;
 	width:140px;
 	float:left;
 	padding:5px;
 	margin-top: 510px;
 	border-right: 1px solid black;

 }

 #photo {
 	padding:5px;
 	height:500px;
 	width: 840px;
 	background: url(Egilsay.jpg);
 	background-repeat: no-repeat;
 	

 	

 	

 }

#section {
	font-family: Georgia;
	color: #FFFFFF;
	width: 70%;
	margin-left: 160px;
	max-width: 700px; 
}
 ul {
 	list-style: none;
 	font-style: italic;
 	font-size: 90%;
 	padding-left: 0;
 }


/*ID SELECTOR*/

/*Descendant Selector */
#contact {
	margin-left: 160px;
	h2 {
	font-size: 125%;
}